__pycache__/
*.py[cod]
*.pyo

.ipynb_checkpoints/

.venv/

.env
*.env
superset/.env

data/raw/*
!data/raw/README.md

data/clean/*

*.sqlite
database/*.db
*.db

.DS_Store
Thumbs.db

.vscode/
.idea/

*.log

.docker/
postgres_data/
superset_home/
superset_data/